.form__container {
    width: 100%;
    border: 2px solid red;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: absolute;
    top: 0;
    padding: 32px;
}

.login__nav p {
    cursor: pointer;
    font-size: 1.5rem;
}

.login__form {
    position: relative;
    width: 60%;
    height: 90%;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

.login__form input {
    padding: 8px;
    width: 100%;
}

.login__form .forgot__password {
    width: 100%;
    text-align: right;
}

.login__form p {
    text-align: center;
    width: 100%;
}

.login__form p a{
    text-decoration: none;
    color: var(--primary-color);
}

.login__form button {
    padding: 8px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}

.login__form button:last-child {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;   
    font-size: var(--font-size-medium);
    border: 2px solid red;
}

.login__form button:last-child svg{
    flex-shrink: 0;
}

.button__google span {
    flex-grow: 1;
    text-align: center;
}



