.detail__course__hero {
    width: 100%;
}

.detail__course__hero .detail__course__background {
    width: 100%;
    height: 450px;
    background: rgb(57,142,61);
    background: linear-gradient(45deg, rgba(57,142,61,1) 0%, rgba(165,226,95,1) 100%); 
}

.detail__course__hero .detail__course__title {
    display: block;
    color: var(--tertiary-color);
    text-align: center;
    grid-area: title;
}

.detail__course__hero .detail__course__title h2 {
    font-size: var(--font-size-title);
    font-weight: 700;
}

.detail__course__hero .detail__course__title h4 {
    font-size: var(--font-size-medium);
    font-weight: 300;
}

.detail__course__content {
    padding-inline: 64px;
    width: 100%;
    border: 2px solid red;
    position: relative;
    top: -350px;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: (2, 1fr);
    grid-template-areas: 
                "title title"
                "video buy" ;
    row-gap: 86px;
    column-gap: 64px;
    height: 950px;
}

.detail__course__content .detail__course__video {
    width: 750px;
    height: 400px;
    grid-area: video;

}

.detail__course__content .detail__course__buy {
    width: 400px;
    height: 450px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    grid-area: buy;
    place-self: end;
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.detail__course__content .detail__course__buy .benefit {
    display: flex;
    border: 2px solid red;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 8px;
    justify-content: space-between;
}

.detail__course__content .detail__course__buy .benefit div {
    width: 80px;
    text-align: center;
    border: 2px solid black;
}

.detail__course__content .detail__course__buy .benefit div p {
    margin-top: 8px;
    font-weight: 600;
}


.detail__course__content .detail__course__buy .rating__and__category {
    display: flex;
    width: 50%;
    border: 2px solid white;
    margin-top: 8px;
    justify-content: space-between;
}

.detail__course__content .detail__course__buy .rating__and__category .star {
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
}

.detail__course__content .detail__course__buy .rating__and__category p {
    font-weight: 600;
}

.detail__course__content .detail__course__buy .rating__and__category .category p:last-child {
    color: var(--quartenary-color)
}

.detail__course__description {
    width: 750px;
    border-radius: 5px;
}

.detail__course__description .btn__description__section {
    background-color: var(--quartenary-color);
    padding: 8px;
}

.btns {
    display: flex; 
    width: 75%;
    column-gap: 12px;
}   

.detail__course__description .btn__description__section .btns button:nth-child(1){
    background-color: var(--secondary-color);
    border: none;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    font-size: var(--font-size-medium);
    color: var(--primary-color);
    font-weight: 700;
    cursor: pointer;
}

button {
    background-color: var(--quartenary-color);
    border: none;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    font-size: var(--font-size-medium);
    color: var(--primary-color);
    font-weight: 700;
    cursor: pointer;
}

.detail__course__description .detail__description__section {
    background-color: var(--quartenary-color);
    margin-top: 32px;
    padding: 32px;
}
.detail__course__description .detail__description__section h2{
    color: var(--primary-color);
    margin-bottom: 16px;
}