.detail__course__hero {
    width: 100%;
    border: 2px solid red;
}

.detail__course__hero .detail__course__background {
    width: 100%;
    height: 450px;
    background: rgb(57,142,61);
    background: linear-gradient(45deg, rgba(57,142,61,1) 0%, rgba(165,226,95,1) 100%); 
}

.detail__course__hero .detail__course__title {
    display: block;
    color: var(--tertiary-color);
    text-align: center;
    grid-area: title;
    border: 2px solid white;
}

.detail__course__hero .detail__course__title h2 {
    font-size: var(--font-size-title);
    font-weight: 700;
}

.detail__course__hero .detail__course__title h4 {
    font-size: var(--font-size-medium);
    font-weight: 300;
}

.detail__course__content {
    border: 2px solid blue;
    padding-inline: 64px;
    position: relative;
    top: -350px;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: (2, 1fr);
    grid-template-areas: 
                "title title"
                "video buy" ;
    border: 2px solid white;
    row-gap: 32px;
    column-gap: 64px;
    height: 850px;
}

.detail__course__content .detail__course__video {
    width: 750px;
    height: 400px;
    background-color: blue;
    grid-area: video;
    border: 2px solid white;

}

.detail__course__content .detail__course__buy {
    width: 400px;
    height: 450px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    grid-area: buy;
    border: 2px solid white;
    place-self: end;
    display: flex;
    flex-direction: column;
}

.detail__course__content .detail__course__buy .benefit div {
    width: 80px;
    height: 80px;
}

.detail__course__description {
    border: 4px solid red;
    width: 750px;
    border-radius: 5px;
}

.detail__course__description .btn__description__section {
    background-color: var(--quartenary-color);
    padding: 4px;
}

.btns {
    display: flex; 
    width: 75%;
    column-gap: 12px;
}   

.detail__course__description .btn__description__section .btns button{
    background-color: var(--secondary-color);
    border: none;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    font-size: var(--font-size-medium);
    color: var(--primary-color);
    font-weight: 700;
}

.detail__course__description .detail__description__section {
    background-color: var(--quartenary-color);
    margin-top: 32px;
    padding: 32px;
}
.detail__course__description .detail__description__section h2{
    color: var(--primary-color);
    margin-bottom: 16px;
}